
h1 {
	color: #000000;
	text-decoration: underline;
}

.initial_button {
	height: 50px;
	width: 120px;
	border-color: #BCD2EE;
	border: 2px solid black;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 5px;
	text-align: center;
	padding: 5px;
	background-color: red;
}


.button {
	text-decoration: none;
	border : solid 1px #e6e6e6;
	margin: 8px;
	border-radius : 3px;
	text-align: center;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 16px;
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.buttons_container {

	display: flex;
	flex-direction: column;
	width: 150px;
	margin: auto;
}

.title {
	margin-bottom: 0px;
}

.form_question {
	padding: 5px;
}


.form_question label {
		font-weight: bold;

}

.form_box input {
	border-radius: 20px;
	margin-top: 5px

 }

.form_box {
	text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

.button {
		border-radius: 20px;

}

body{
    margin:0;
    font-family: sans-serif,arial, Helvetica;
    background-color: #ffffff;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.topnav .search-container {
  float: left;
}

.search-container {
	margin-right: 200px;
	margin-top: 50px;
}

.topnav input[type=text] {
  padding: 8px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
  border-radius:7px;
}

.topnav .search-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav, .search-container button:hover {
  background: #ccc;

}

.advanced_search {
	margin-top: 10px;
	float: left;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
    margin-top: 50;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 

 }

 .error_message {
 	color: red;
 	font-style: italic;
 }
/*
/***********
 * Tooltip *
 ***********/

/* Tooltip container *
.tooltip {
	position:relative;;
	display: inline-block;
	border-bottom: 1px dotted black;
}

/* Tooltip text *
.tooltip .tooltipText{
	visibility: :hidden;
	width: 120px;
	color: #fff;
	text-align: left;
	background-color: #555;
	border-radius: 6px;
	padding:5px 0;
	position: relative;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.4s;
}

/* Tooltip arrow *
.tooltip .tooltipText::after{
	content: "";
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: -5px;
	border-style: solid;
	border-color: #555 trasnparent transparent transparent;
}

.tooltip:hover .tooltipText{
	visibility: visible;
	opacity: 1;
}
*/
