
h1 {
	color: #000000;
	text-decoration: underline;
}



.initial_button {
	height: 50px;
	width: 120px;
	border-color: #BCD2EE;
	border: 2px solid black;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 5px;
	text-align: center;
	padding: 5px;
	background-color: red;
}


.button {
	text-decoration: none;
	border : solid 1px #e6e6e6;
	margin: 8px;
	border-radius : 3px;
	text-align: center;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 16px;
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.login_buttons_container {

	display: flex;
	flex-direction: column;
	width: 150px;
	margin: auto;
}

.title {
	margin-bottom: 0px;
}

.form_question {
	padding: 5px;
}


.form_question label {
		font-weight: bold;

}

.form_box input {
	border-radius: 20px;
	margin-top: 5px

 }

.form_box {
	text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

.button {
		border-radius: 20px;

}

body{
    margin:0;
    font-family: sans-serif,arial, Helvetica;
    background-color: #ffffff;
  }
  .topnav{
    overflow:hidden;
    background-color: black;
  }
  .topnav a{
    float:right;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
  }
  .topnav a:hover{
    background-color: #808080;
    color: black; <!-- text color-->
  }
  .topnav a.active{
    background-color: green;
    color:black;
  }
  .searchbar{
    overflow: hidden;
    background-color: a6a6a6;
  }
  .searchbar b{
    float:left;
    display: block;
    color: #2196f3;
    text-align: center;
    padding: 20px 20px;
    text-decoration: underline;
    font-size: 17px;
  }
  .searchbar input[type=text]{
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;

    margin-left: 600px;
    font-size: 17px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*
/***********
 * Tooltip *
 ***********/

/* Tooltip container *
.tooltip {
	position:relative;;
	display: inline-block;
	border-bottom: 1px dotted black;
}

/* Tooltip text *
.tooltip .tooltipText{
	visibility: :hidden;
	width: 120px;
	color: #fff;
	text-align: left;
	background-color: #555;
	border-radius: 6px;
	padding:5px 0;
	position: relative;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.4s;
}

/* Tooltip arrow *
.tooltip .tooltipText::after{
	content: "";
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: -5px;
	border-style: solid;
	border-color: #555 trasnparent transparent transparent;
}

.tooltip:hover .tooltipText{
	visibility: visible;
	opacity: 1;
}
*/
